*#*
*.bundle
*.class
*.gem
*.log
*.o
*.pid
*.so
*.swp
*~
.DS_Store
.idea/*
.rvmrc
.yardoc
coverage
data
docs
ext/cbson/Makefile
Gemfile.lock
lib/bson_ext
lib/mongo_ext/Makefile
nbproject
tasks/benchmark/exp_series_suite_*.js
test/tools/data/
tmp