html
pkg
doc
ydoc
.yardoc
*.gem
nbproject
*.bundle
*.o
ext/cbson/Makefile
lib/mongo_ext/Makefile
benchmark
*~
*#*
*.class
*.swp
*.pid
*.log
test/load/unicorn/unicorn.rb
test/load/thin/config.yml
test/tools/data/
.rvmrc