*#*
*.bundle
*.class
*.gem
*.log
*.o
*.pid
*.so
*.swp
*~
.DS_Store
.idea/*
.rvmrc
.ruby-version
.yardoc
coverage
data
docs
ext/cbson/Makefile
ext/jbson/target/java
Gemfile.lock
gem-private_key.pem
lib/bson_ext
lib/mongo_ext/Makefile
nbproject
tasks/benchmark/exp_series_suite_*.js
test/tools/data/
tmp