<% if object.has_tag?(:core) %>
  <h3>Core docs:</h3>
  <ul class="see">
    <% for tag in object.tags(:core) %>
      <li><a href='<%= "http://dochub.mongodb.org/core/#{tag.name}" %>' name='<%= tag.text %>'><%= tag.name.capitalize %></a></li>
    <% end %>
  </ul>
<% end %>
